html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	line-height: 1em;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background: #fff;
	height: 100%;
	color: #606777;
}

html {
	height: 100%;
}

h1 {
	font-size: 3em;
	margin: 0 0 20px 0;
}

p {
	font-size: 1.4em;
	margin: 0 0 10px 0;
}

.container {
	margin: 0 auto;
	position:  relative;
	top:  50%;
	transform:  translateY(-50%);
	width: 50%;
	text-align: center;
}

#url {
	border: none;
	background: #e1e2e5;
	font-size: 30px;
	padding: 20px;
	display: block;
	width: 100%;
	box-sizing: border-box;
	border-radius: 3px;
	margin: 30px auto;
	color:  #606777;
	text-align: center;
	font-family: "Courier New", Courier, monospace;
}

#save {
	border: none;
    background: -webkit-linear-gradient(top,  #fb6e52 0%,#ef4f69 100%); /* Chrome10-25,Safari5.1-6 */
	color: #fff;
	padding: 15px 25px;
	text-align: center;
	font-size: 15px;
	text-transform: uppercase;
	border-radius: 5px;
	cursor: pointer;
	font-weight: bold;
}

#status {
	span {
		position: fixed;
		top:  20px;
		left:  5%;
		width: 90%;
		text-align: center;
		background: #48cfae;
		color:  #fff;
		font-size: 17px;
		padding: 15px 0;
		border-radius: 5px;
	}
}

.notice {
	
	text-align: center;
	padding: 0 25px;
	position: absolute;
	top: 50%;
    transform: translateY(-50%);
	
	h1 {
		font-size: 2em;
		margin: 0 0 20px 0;
		
		&::before {
			content: "";
			display: block;
			width: 70px;
			height: 70px;
			background: url("icon.png") no-repeat;
			background-size: 100%;
			margin: 0 auto 25px auto;
		}
	}
	
	p {
		font-size: 1.2em;
		line-height: 1.3em;
	}
}